.main {
  box-sizing: border-box;
  padding: 40px 120px 152px 120px;
  width: 100%;
}

.pageTitle {
  box-sizing: border-box;
  max-width: 100%;
  margin-right: -2px;
  font-size: 34px;
  margin-top: 0;
  font-weight: 600;
}

.tasksContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
