.main {
  box-sizing: border-box;
  padding: 40px 120px 152px 120px;
  width: 100%;
}

.pageTitle {
  box-sizing: border-box;
  max-width: 100%;
  margin-right: -2px;
  font-size: 34px;
}

.filtersContainer {
  margin-top: 52px;
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 45px;
  width: 688px;
  height: 44px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.filter {
  all: unset;
  width: 200px;
  height: 44px;
  padding: 10px 18px;
  gap: 8px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.tasksContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
